:root {
	--color-accent: #1a943c;
}

input, label, textarea, button {
	font-family: 'Roboto';
	outline: none;
}

ul {
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	overflow-x: hidden;
}

body {
	min-width: 320px;
	position: relative;
	font-family: 'Roboto', sans-serif;
}

/* container */
.container {
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}

/* link */
.link {
	transition: color .35s ease;
}
.link:hover {
	color: #a5a3a3;
}

/* logo */
.logo {
	transition: transform .35s ease;
}
.logo:hover {
	transform: scale(1.05);
}
.logo img {
	max-width: 170px;
}