:root {
	--color-accent: #1a943c;
	--color-accent-hover: #095e21;
}


*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}


html, body {
	overflow-x: hidden;
}

body {
	min-width: 320px;
	position: relative;
	font-family: 'Roboto', sans-serif;
}

input, label, textarea, button {
	font-family: 'Roboto';
	outline: none;
}

ul {
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
	border: none;
}

fieldset {
  border: none;
}

/* img {
	vertical-align: middle;
} */


/* container */
.container {
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}

/* p-100 */
.p-100 {
	padding: 100px 0;
}

/* bg-gray */
.bg-gray {
	background-color: #eee;
}

/* hidden */
.hidden {
	display: none;
}

/* link */
.link {
	transition: color .35s ease;
}
.link:hover {
	color: #a5a3a3;
}

/* logo */
.logo {
	transition: transform .35s ease;
}
.logo:hover {
	transform: scale(1.05);
}
.logo img {
	max-width: 170px;
}

/* button */
.button	a,
.form-btn  {
	display: inline-block;
	border-radius: 5px;
	padding: 20px 50px;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.6;
	text-transform: uppercase;
	color: #fff;
	background-color: var(--color-accent);
	transition: background-color .35s ease;
}
.button	a:hover,
.form-btn:hover {
	background-color: var(--color-accent-hover);
}

/* title */
.title-wrap {
	text-align: center;
	margin-bottom: 60px;
}
.title-icon img {
	max-width: 58px;
}
.title {
	font-weight: 700;
	font-size: 42px;
	line-height: 1.6;
	color: var(--color-accent);
}
.subtitle {
	font-size: 18px;
	line-height: 1.6;
	color: #9f9797;
}

/* swiper */
.swiper .swiper-pagination {
  display: flex;
  column-gap: 15px;
  align-items: center;
  justify-content: center;
}
.swiper .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  background-color: #B2A39A;
  opacity: 1;
}
.swiper .swiper-pagination-bullet-active {
  background-color: var(--color-accent);
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}


/* form */
.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.form-box {
  display: flex;
  column-gap: 20px;
}
.form-box input,
.form-box select,
.form-box textarea {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 15px 22px 15px 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
}
.form-box input::placeholder,
.form-box textarea::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #acacac;
}
.form-box select {
  appearance: none;
  color: #acacac;
  background-image: url('../images/select-arrow.svg');
  background-position: 92% center;
  background-repeat: no-repeat;
}
.form-box select option {
  color: #000;
}
.form-box textarea {
  height: 184px;
  resize: none;
}
.form-btn {
  align-self: flex-start;
  margin: 10px auto 0;
}