/* header */
.header-top {
  color: #fff;
  background-color: #3e3333;
}
.header-row {
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-text {
  color: #c6c6c6;
}
.header-info {
  display: flex;
  column-gap: 30px;
}
.header-info-item {
  display: flex;  
  column-gap: 14px;
  align-items: center;
}
.header-info-item i {
  font-size: 18px;
}
.header-social {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.header-social a {
  width: 35px;
  height: 36px;
  display: flex;  
  align-items: center;
  justify-content: center;
}
.header-social i {
  font-size: 22px;
}
.header-bottom {
  border-bottom: 1px solid #dcdcdc;
}
.header-bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav ul {
  display: flex;
}
.header-nav ul li a {
  display: block;
  padding: 25px 35px;
  border-right: 1px solid #dcdcdc;
  font-size: 18px;
  transition: color .35s ease, background-color .35s ease;
}
.header-nav ul li a:hover {
  color: #fff;
  background-color: var(--color-accent);
}
.header-nav ul li:first-child a {
  border-left: 1px solid #dcdcdc;
}


/* banner */
.banner-item {
  padding: 140px 100px 272px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  position: relative; 
  z-index: 0;
}
.banner-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 39, 39, 0.4);
  z-index: -1;
}
.banner-title {
  font-weight: 700;
  font-size: 58px;
  margin-bottom: 26px;
}
.banner-descr {
  max-width: 570px;
  margin: 0 auto 26px;
  font-size: 22px;
  line-height: 1.6;
  color: #dbd9d9;
}

/* swiper-banner */
.swiper-banner .swiper-button-next,
.swiper-banner .swiper-button-prev {
  width: 82px;
  height: 82px;
  font-weight: 900;
	color: #fff;
}
.swiper-banner .swiper-button-next {
  right: 50px;
}
.swiper-banner .swiper-button-prev {
  left: 50px;
}
.swiper-banner .swiper-pagination {
  bottom: 210px;
}


/* features */
.features-wrap {
  margin-top: -150px;
  position: relative;
  z-index: 1;
}
.features-row {
  display: flex;
  gap: 0 20px;
  text-align: center;
}
.features-item {
  padding: 30px 18px 22px;
  height: 310px;
  width: 285px;
  border-radius: 5px;
  border: 1px solid var(--color-accent);
  background-color: #fff;
  transition: transform .35s ease;
}
.features-item:hover {
  transform: scale(1.05);
}
.features-icon {
  font-size: 50px;
  color: var(--color-accent);
  margin-bottom: 15px;
}
.features-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.features-descr {
  line-height: 1.5;
  color: #777;
}


/* about */
.about-row {
  display: flex;
  gap: 0 60px;
}
.about-left {
  width: 530px;
  overflow: hidden;
  border-radius: 5px;
}
.about-left img {
  display: block;
  width: 100%;
  height: 100%;
}
.about-right {
  padding-top: 12px;
  max-width: 492px;
}
.about-right .title-wrap {
  text-align: left;
  margin-bottom: 25px;
}
.about-descr {
  max-width: 464px;
  font-size: 18px;
  line-height: 1.8;
  color: #474646;
  margin-bottom: 87px;
}


/* services */
.services-row {
  display: flex;
  column-gap: 20px;
}
.services-item {
  max-width: 285px;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.services-thumb {
  height: 296px;
  overflow: hidden;
  border-radius: 5px;
}
.services-thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .7s ease;
}
.services-item:hover .services-thumb img {
  transform: scale(1.2);
}
.service-item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.6;
  transition: color .7s ease;
}
.services-item:hover .service-item-title {
  color: var(--color-accent);
}


/* numbers */
.numbers-wrap {
  padding: 52px 0;
  color: #fff;
  text-align: center;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}
.numbers-wrap::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(52, 40, 40, 0.45);
  z-index: -1;
}
.numbers-row {
  display: flex;
  justify-content: center;
  column-gap: 45px;
}
.numbers-item {
  width: 200px;
  height: 188px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 20px 9px;
}
.numbers-num {
  font-weight: 500;
  font-size: 44px;
  line-height: 1.6;
}
.numbers-descr {
  font-size: 18px;
  line-height: 1.6;
  color: #c1bfbf;
}


/* team */
.team-row {
  display: flex;
  column-gap: 20px;
}
.team-item {
  max-width: 285px;
  line-height: 1.6;
  text-align: center;
}
.team-thumb {
  height: 296px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}
.team-thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .7s ease;
}
.team-item:hover .team-thumb img {
  transform: scale(1.1);
}
.team-name {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 4px;
  transition: color .7s ease;
}
.team-item:hover .team-name {
  color: var(--color-accent);
}
.team-spec {
  font-size: 20px;
  color: #999595;
}


/* reviews */
.reviews-wrap {
  background-color: var(--color-accent);
}
.reviews-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6;
  color: #fff;
  text-align: center;
}
.reviews-thumb {
  width: 210px;
  height: 210px;
  overflow: hidden;
  border-radius: 100%;
  margin-bottom: 40px;
}
.reviews-thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reviews-title {
  font-weight: 600;
  font-size: 34px;
  margin-bottom: 30px;
}
.reviews-text {
  max-width: 695px;
  margin: 0 auto 25px;
  font-size: 20px;
}
.reviews-social {
  display: flex;
  column-gap: 0;
  align-items: center;
  margin-bottom: 50px;
}
.reviews-social a {
  width: 40px;
  height: 40px;
  display: flex;  
  align-items: center;
  justify-content: center;
}
.reviews-social a i {
  font-size: 24px;
}
.swiper-reviews .swiper-pagination {
  position: static;
}


/* gallery */
.gallery-wrap {
  background-color: #433a3a;
}
.gallery-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 50px;
}
.gallery-title {
  display: flex;
  align-items: center;
  gap: 0 22px;
}
.gallery-icon img {
  vertical-align: middle;
}
.gallery-title-text {
  font-weight: 700;
  font-size: 42px;
}
.gallery-tabs {
  display: flex;
  gap: 0 28px;
  font-size: 20px;
}
.gallery-tabs a.is-active {
  font-weight: 700;
}

/* grid */
.grid-item,
.grid-sizer {
  width: calc(25% - 15px);
}
.grid-item {
  float: left;
  margin-bottom: 20px;
}
.grid-item a,
.grid-item img {
  display: block;
}
.grid-item a {
  position: relative;
}
.grid-item a::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 35, 35, 0.5);
  transition: opacity .5s ease;
  opacity: 0;
}
.grid-item a::after {
  display: inline-block;
  content: url('./../images/icon-magnify.svg');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .5s ease, margin .5s ease;
  margin: 20px 0 0;
  opacity: 0;
}
.grid-item a:hover::before,
.grid-item a:hover::after {
  opacity: 1;
  margin: 0;
} 
.grid-item a img {
  width: 285px;
  border-radius: 5px;
  object-fit: cover;
}